@charset "UTF-8";
/* Animation
*/
/* line 5, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 40, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 55, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 57, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 59, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 61, ../../../../../../../../../../.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 4, ../scss/common/_reset.scss */
html {
  width: 100%;
  height: 100%;
  overflow: auto; }

/* line 10, ../scss/common/_reset.scss */
body {
  min-height: 100%; }

/* line 14, ../scss/common/_reset.scss */
*,
*::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 19, ../scss/common/_reset.scss */
a {
  text-decoration: none;
  color: #23231A; }

/* Define the "system" font family */
@font-face {
  font-family: System;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }
/* line 1, ../scss/common/_type.scss */
.section-header {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip; }

/* line 8, ../scss/common/_type.scss */
html {
  font-size: 16px; }

/* line 12, ../scss/common/_type.scss */
body {
  font-weight: 400;
  font-family: System;
  font-size: 16px;
  line-height: 24px;
  color: #23231A; }

/* line 17, ../scss/common/_type.scss */
.section-header {
  font-weight: 700;
  font-family: System;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #646464;
  z-index: 100; }
  /* line 25, ../scss/common/_type.scss */
  .section-header span {
    display: inline-block;
    padding: 22px 15px;
    background-color: white;
    border: 4px solid #646464; }
  /* line 32, ../scss/common/_type.scss */
  .section-header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 68px;
    margin-top: 8px;
    left: 0;
    background-color: #E0E2DB;
    z-index: -1; }

/* line 1, ../scss/common/_container.scss */
.site {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  background-color: #E0E2DB; }

/* line 9, ../scss/common/_container.scss */
.page-content {
  position: relative; }

/*
<nav class="navigation pagination" role="navigation">
		<h2 class="screen-reader-text">Навигация по записям</h2>
		<div class="nav-links"><span aria-current="page" class="page-numbers current">1</span>
<a class="page-numbers" href="http://mais.dev.cc/page/2/">2</a>
<a class="next page-numbers" href="http://mais.dev.cc/page/2/">Вперед</a></div>
	</nav>
*/
/* line 21, ../scss/common/_container.scss */
.screen-reader-text {
  display: none; }

/* line 25, ../scss/common/_container.scss */
.pagination {
  width: 100%;
  max-width: 950px;
  margin: 0 auto; }
  /* line 30, ../scss/common/_container.scss */
  .pagination .nav-links {
    width: 100%;
    display: flex;
    justify-content: center; }
    /* line 35, ../scss/common/_container.scss */
    .pagination .nav-links .page-numbers {
      display: inline-block;
      flex: 1 40px;
      height: 40px;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 40px;
      flex-grow: 0;
      color: rgba(35, 35, 26, 0.5); }
      /* line 46, ../scss/common/_container.scss */
      .pagination .nav-links .page-numbers.current {
        color: #FF6F59; }
    /* line 51, ../scss/common/_container.scss */
    .pagination .nav-links .next {
      width: auto;
      margin-left: auto;
      padding-right: 13px; }
    /* line 57, ../scss/common/_container.scss */
    .pagination .nav-links .prev {
      width: auto;
      margin-right: auto;
      padding-left: 13px; }

/* line 1, ../scss/sections/_header.scss */
.header {
  position: relative;
  width: 100%;
  height: 100vh; }
  /* line 6, ../scss/sections/_header.scss */
  .header-media {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; }
    /* line 14, ../scss/sections/_header.scss */
    .header-media__image {
      width: 100%;
      height: 100%; }
  /* line 21, ../scss/sections/_header.scss */
  .header-author {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
    top: 50%;
    text-align: center;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    /* line 30, ../scss/sections/_header.scss */
    .header-author__avatar {
      margin-bottom: 64px; }
      /* line 32, ../scss/sections/_header.scss */
      .header-author__avatar img {
        border-radius: 50%;
        -moz-box-shadow: 0 1px 0 #c9c9c9, 0 2px 0 #bbb, 0 3px 0 #b9b9b9;
        -webkit-box-shadow: 0 1px 0 #c9c9c9, 0 2px 0 #bbb, 0 3px 0 #b9b9b9;
        box-shadow: 0 1px 0 #c9c9c9, 0 2px 0 #bbb, 0 3px 0 #b9b9b9; }
    /* line 42, ../scss/sections/_header.scss */
    .header-author__name {
      font-weight: 700;
      font-family: System;
      font-size: 48px;
      line-height: 64px;
      margin-bottom: 10px;
      text-shadow: 1px 0 0 #c9c9c9, 2px 0 0 #bbb, 3px 0 0 #b9b9b9;
      letter-spacing: 1px;
      color: white; }
    /* line 54, ../scss/sections/_header.scss */
    .header-author__about {
      font-weight: 700;
      font-family: System;
      font-size: 22px;
      line-height: 26px;
      text-transform: lowercase; }
      /* line 58, ../scss/sections/_header.scss */
      .header-author__about span {
        background-color: white;
        padding: 5px 9px;
        border-radius: 4px; }

/* line 1, ../scss/sections/_categories.scss */
.categories {
  padding: 72px;
  border-top: 7px solid #EC7357;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around; }
  /* line 10, ../scss/sections/_categories.scss */
  .categories .section-header {
    flex: 2 100%; }
    /* line 13, ../scss/sections/_categories.scss */
    .categories .section-header span {
      border-color: #EC7357; }
  /* line 18, ../scss/sections/_categories.scss */
  .categories .category-preview {
    margin: 15px;
    flex: 1 350px;
    height: 350px; }
  /* line 24, ../scss/sections/_categories.scss */
  .categories .category {
    border: 7px solid #EC7357; }
    /* line 27, ../scss/sections/_categories.scss */
    .categories .category-image {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      /* line 33, ../scss/sections/_categories.scss */
      .categories .category-image img {
        position: absolute;
        min-width: 100%;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        filter: grayscale(1); }

/* line 41, ../scss/sections/_posts.scss */
.posts {
  padding: 72px;
  border-top: 7px solid #4F7CAC; }
  /* line 47, ../scss/sections/_posts.scss */
  .posts .section-header::before {
    background-color: white; }
  /* line 51, ../scss/sections/_posts.scss */
  .posts .section-header span {
    border-color: #4F7CAC; }
  @media screen and (min-width: 300px) {
    /* line 57, ../scss/sections/_posts.scss */
    .posts-grid {
      display: grid;
      justify-content: center;
      grid-gap: 25px;
      margin: 120px 0;
      grid-template-columns: repeat(1, 300px); } }
  @media screen and (min-width: 625px) {
    /* line 57, ../scss/sections/_posts.scss */
    .posts-grid {
      margin: 70px 0;
      grid-template-columns: repeat(2, 300px); } }
  @media screen and (min-width: 950px) {
    /* line 57, ../scss/sections/_posts.scss */
    .posts-grid {
      margin: 50px 0;
      grid-template-columns: repeat(3, 300px); } }

/* line 79, ../scss/sections/_posts.scss */
.post {
  background-color: white;
  border-radius: 4px;
  overflow: hidden; }
  /* line 84, ../scss/sections/_posts.scss */
  .post.category-js {
    border-color: #F8E500; }
  /* line 88, ../scss/sections/_posts.scss */
  .post.category-css-by-the-fireplaces {
    border-color: #006EC0; }
  /* line 92, ../scss/sections/_posts.scss */
  .post__image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden; }
    /* line 98, ../scss/sections/_posts.scss */
    .post__image img {
      position: absolute;
      min-width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  /* line 108, ../scss/sections/_posts.scss */
  .post .flex-container {
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    padding: 15px 15px; }
  /* line 115, ../scss/sections/_posts.scss */
  .post__date {
    font-weight: 400;
    font-size: 14px;
    color: rgba(35, 35, 26, 0.5);
    text-align: center; }
    /* line 121, ../scss/sections/_posts.scss */
    .post__date .red-line {
      display: inline-block;
      height: 25px;
      line-height: 1;
      vertical-align: middle; }
      /* line 127, ../scss/sections/_posts.scss */
      .post__date .red-line svg {
        display: block;
        width: 25px;
        height: 25px;
        fill: rgba(35, 35, 26, 0.5); }
      /* line 133, ../scss/sections/_posts.scss */
      .post__date .red-line:nth-of-type(1) {
        margin-right: 14px; }
      /* line 137, ../scss/sections/_posts.scss */
      .post__date .red-line:nth-of-type(2) {
        margin-left: 14px;
        -moz-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        transform: scale(-1, 1); }
  /* line 144, ../scss/sections/_posts.scss */
  .post__title {
    padding: 20px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #23231A;
    text-align: center; }
  /* line 154, ../scss/sections/_posts.scss */
  .post__tags {
    margin-top: auto; }
    /* line 157, ../scss/sections/_posts.scss */
    .post__tags-list .post__tag {
      display: inline-block;
      border-radius: 100px;
      margin: 0 0 0 7.5px; }
      /* line 162, ../scss/sections/_posts.scss */
      .post__tags-list .post__tag a {
        display: block;
        width: 100%;
        padding: 0 9px;
        font-weight: 700;
        font-size: 10px;
        line-height: 22px;
        text-transform: uppercase; }

/* line 178, ../scss/sections/_posts.scss */
.post__tag.category_css {
  background-color: #006EC0;
  border: 1px solid #006EC0;
  -moz-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  /* line 10, ../scss/sections/_posts.scss */
  .post__tag.category_css, .post__tag.category_css > a {
    color: #ffffff; }
  /* line 15, ../scss/sections/_posts.scss */
  .post__tag.category_css:hover, .category-state_hover.post__tag.category_css {
    background-color: #00518d; }
  /* line 20, ../scss/sections/_posts.scss */
  .transparent.post__tag.category_css {
    background-color: transparent;
    -moz-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
    /* line 24, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_css, .transparent.post__tag.category_css > a {
      color: #006EC0; }
    /* line 29, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_css:hover, .transparent.category-state_hover.post__tag.category_css {
      background-color: #006EC0; }
      /* line 33, ../scss/sections/_posts.scss */
      .transparent.post__tag.category_css:hover, .transparent.post__tag.category_css:hover > a, .transparent.category-state_hover.post__tag.category_css, .transparent.category-state_hover.post__tag.category_css > a {
        color: #ffffff; }
/* line 182, ../scss/sections/_posts.scss */
.post__tag.category_lyrics {
  background-color: #00796B;
  border: 1px solid #00796B;
  -moz-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  /* line 10, ../scss/sections/_posts.scss */
  .post__tag.category_lyrics, .post__tag.category_lyrics > a {
    color: #ffffff; }
  /* line 15, ../scss/sections/_posts.scss */
  .post__tag.category_lyrics:hover, .category-state_hover.post__tag.category_lyrics {
    background-color: #00463e; }
  /* line 20, ../scss/sections/_posts.scss */
  .transparent.post__tag.category_lyrics {
    background-color: transparent;
    -moz-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
    /* line 24, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_lyrics, .transparent.post__tag.category_lyrics > a {
      color: #00796B; }
    /* line 29, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_lyrics:hover, .transparent.category-state_hover.post__tag.category_lyrics {
      background-color: #00796B; }
      /* line 33, ../scss/sections/_posts.scss */
      .transparent.post__tag.category_lyrics:hover, .transparent.post__tag.category_lyrics:hover > a, .transparent.category-state_hover.post__tag.category_lyrics, .transparent.category-state_hover.post__tag.category_lyrics > a {
        color: #ffffff; }
/* line 186, ../scss/sections/_posts.scss */
.post__tag.category_codepen {
  background-color: #191919;
  border: 1px solid #191919;
  -moz-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  /* line 10, ../scss/sections/_posts.scss */
  .post__tag.category_codepen, .post__tag.category_codepen > a {
    color: #ffffff; }
  /* line 15, ../scss/sections/_posts.scss */
  .post__tag.category_codepen:hover, .category-state_hover.post__tag.category_codepen {
    background-color: black; }
  /* line 20, ../scss/sections/_posts.scss */
  .transparent.post__tag.category_codepen {
    background-color: transparent;
    -moz-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
    /* line 24, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_codepen, .transparent.post__tag.category_codepen > a {
      color: #191919; }
    /* line 29, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_codepen:hover, .transparent.category-state_hover.post__tag.category_codepen {
      background-color: #191919; }
      /* line 33, ../scss/sections/_posts.scss */
      .transparent.post__tag.category_codepen:hover, .transparent.post__tag.category_codepen:hover > a, .transparent.category-state_hover.post__tag.category_codepen, .transparent.category-state_hover.post__tag.category_codepen > a {
        color: #ffffff; }
/* line 190, ../scss/sections/_posts.scss */
.post__tag.category_js {
  background-color: #F8E500;
  border: 1px solid #F8E500;
  -moz-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  /* line 10, ../scss/sections/_posts.scss */
  .post__tag.category_js, .post__tag.category_js > a {
    color: #000000; }
  /* line 15, ../scss/sections/_posts.scss */
  .post__tag.category_js:hover, .category-state_hover.post__tag.category_js {
    background-color: #c5b600; }
  /* line 20, ../scss/sections/_posts.scss */
  .transparent.post__tag.category_js {
    background-color: transparent;
    -moz-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
    /* line 24, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_js, .transparent.post__tag.category_js > a {
      color: #F8E500; }
    /* line 29, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_js:hover, .transparent.category-state_hover.post__tag.category_js {
      background-color: #F8E500; }
      /* line 33, ../scss/sections/_posts.scss */
      .transparent.post__tag.category_js:hover, .transparent.post__tag.category_js:hover > a, .transparent.category-state_hover.post__tag.category_js, .transparent.category-state_hover.post__tag.category_js > a {
        color: #000000; }
/* line 194, ../scss/sections/_posts.scss */
.post__tag.category_asp-net {
  background-color: #870D9D;
  border: 1px solid #870D9D;
  -moz-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  /* line 10, ../scss/sections/_posts.scss */
  .post__tag.category_asp-net, .post__tag.category_asp-net > a {
    color: #ffffff; }
  /* line 15, ../scss/sections/_posts.scss */
  .post__tag.category_asp-net:hover, .category-state_hover.post__tag.category_asp-net {
    background-color: #5f096e; }
  /* line 20, ../scss/sections/_posts.scss */
  .transparent.post__tag.category_asp-net {
    background-color: transparent;
    -moz-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
    /* line 24, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_asp-net, .transparent.post__tag.category_asp-net > a {
      color: #870D9D; }
    /* line 29, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_asp-net:hover, .transparent.category-state_hover.post__tag.category_asp-net {
      background-color: #870D9D; }
      /* line 33, ../scss/sections/_posts.scss */
      .transparent.post__tag.category_asp-net:hover, .transparent.post__tag.category_asp-net:hover > a, .transparent.category-state_hover.post__tag.category_asp-net, .transparent.category-state_hover.post__tag.category_asp-net > a {
        color: #ffffff; }
/* line 198, ../scss/sections/_posts.scss */
.post__tag.category_c {
  background-color: #00A502;
  border: 1px solid #00A502;
  -moz-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  /* line 10, ../scss/sections/_posts.scss */
  .post__tag.category_c, .post__tag.category_c > a {
    color: #ffffff; }
  /* line 15, ../scss/sections/_posts.scss */
  .post__tag.category_c:hover, .category-state_hover.post__tag.category_c {
    background-color: #007201; }
  /* line 20, ../scss/sections/_posts.scss */
  .transparent.post__tag.category_c {
    background-color: transparent;
    -moz-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
    /* line 24, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_c, .transparent.post__tag.category_c > a {
      color: #00A502; }
    /* line 29, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_c:hover, .transparent.category-state_hover.post__tag.category_c {
      background-color: #00A502; }
      /* line 33, ../scss/sections/_posts.scss */
      .transparent.post__tag.category_c:hover, .transparent.post__tag.category_c:hover > a, .transparent.category-state_hover.post__tag.category_c, .transparent.category-state_hover.post__tag.category_c > a {
        color: #ffffff; }
/* line 202, ../scss/sections/_posts.scss */
.post__tag.category_web {
  background-color: #00C9CF;
  border: 1px solid #00C9CF;
  -moz-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  /* line 10, ../scss/sections/_posts.scss */
  .post__tag.category_web, .post__tag.category_web > a {
    color: #000000; }
  /* line 15, ../scss/sections/_posts.scss */
  .post__tag.category_web:hover, .category-state_hover.post__tag.category_web {
    background-color: #00979c; }
  /* line 20, ../scss/sections/_posts.scss */
  .transparent.post__tag.category_web {
    background-color: transparent;
    -moz-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: color 250ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 250ms cubic-bezier(0.25, 0.8, 0.25, 1); }
    /* line 24, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_web, .transparent.post__tag.category_web > a {
      color: #00C9CF; }
    /* line 29, ../scss/sections/_posts.scss */
    .transparent.post__tag.category_web:hover, .transparent.category-state_hover.post__tag.category_web {
      background-color: #00C9CF; }
      /* line 33, ../scss/sections/_posts.scss */
      .transparent.post__tag.category_web:hover, .transparent.post__tag.category_web:hover > a, .transparent.category-state_hover.post__tag.category_web, .transparent.category-state_hover.post__tag.category_web > a {
        color: #000000; }
