
/* Define the "system" font family */
@font-face {
    font-family: System;
    font-style: normal;
    font-weight: 400;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@mixin text($options...) {
    font-weight: 400;
    @include font(System, $options...);
}

@mixin header($options...) {
    font-weight: 700;
    @include font(System, $options...);
}

@mixin snippet() {
    font-weight: 400;
    @include font("Consolas, monaco, monospace", 14px, 20px);
}
  
@mixin font($family, $size, $line-height) {
    font-family: $family;
    font-size: $size;
    line-height: $line-height;
}